body {
   margin:0px;
   color:#555555;
   background-color:lightyellow;
   text-align:left;
}   
   
 header {
	width:100%;
	padding:30px;
	background-color:darkgreen;
	margin-bottom:50px;
	color:#FFFFFF;
	font-family:Georgia;
	font-size:30px;
	text-align:center;
 }

h1{
	font-family:Georgia;
    font-size:25px;
    font-weight:normal;	
	color:#5A7B33;
	padding: 5px;
}

p {
	padding:15px;
	line-height:20px;
}	
}
a:link {
	display:inline-block;
	width:150px;
	color:white;
	background-color:green;
	text-decoration:none;
	font-size:20px;
	text-align:center;
	padding:10px;
} 
a:visited {
	color:black;
}
a:hover {
	color:red;
	background-color:transparent;
}
a:active {
	color:yellow;
	background-color:transparent;
	text-decoration:underline;
}
